body {
  padding: 50px;
  font: 14px "Microsoft Yahei",Tahoma,sans-serif;
}


/* header start */
.useravater-img{
  cursor: pointer;
}

nav{
 background-color: #f5f5f5;
}

nav span{
  display: inline-block;
  width: 112px;
  height: 24px;
  line-height: 24px;
  text-align: center;

}
/* header end */


/* 右侧content start */
#content{
  border: 1px solid red;
  height: 1000px;
  padding: 20px;
}
/* 右侧content end */

/* footer start */
.footer{
  display: block;
}
/* footer end */