body {
  padding: 50px;
  font: 14px "Microsoft Yahei",Tahoma,sans-serif;
}


/* header start */
.useravater-img{
  cursor: pointer;
}

nav{
 background-color: #f5f5f5;
}

nav span{
  display: inline-block;
  width: 112px;
  height: 24px;
  line-height: 24px;
  text-align: center;

}
/* header end */


/* 右侧content start */
#content{
  border: 1px solid red;
  height: 1000px;
  padding: 20px;
}


/* 右侧content end */

/* footer start */
.footer{
  display: block;
}
/* footer end */



/* common css  start */
.text-right{
  text-align: right;
}
label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fr{
  float: right;
}

/* common css end */


/* 更改bootstrap默认样式 start */
p.bg-primary,
p.bg-success,
p.bg-info,
p.bg-warning,
p.bg-danger{
  padding: 15px;
}

textarea.form-control{
  padding: 10px 12px 50px 12px;
}
/* 分页样式 */
.pagination li{
  display: inline-block !important; 
  margin-right: 5px;
}



/* 更改bootstrap默认样式 end */