<br>
<form method="post">
    <label for="">姓名：</label>
    <input type="text" name="username" class="form-control"><br />
    <label for="">内容：</label>
    <textarea name="commentContent" class="form-control"></textarea><br />
    <input type="submit" value="留言" class="btn btn-success text-right"/>
</form>

