<%- include header %>

  <div class="jumbotron clearfix">
    <h1>Welcome to homepage!</h1>
    <p>
      <a class="btn btn-primary btn-lg" href="/post">发表一篇微博</a>
    </p>
  </div>
  
<%- include footer %>