<%- include header %>

    <form method="POST" class="region">
      <input type="text" name="username" placeholder="请输入用户名">
   
      <input type="text" name="password" placeholder="请输入密码">

      <input type="submit" value="登录">

    </form> 

<%- include footer %> 