<% include header %>
    <form method="post">
        <label for="">标题：</label>
        <input type="text" placeholder="请输入标题" name="title" class="form-control"><br />
        <br />
        <label for="">正文：</label>
        <textarea name="post" class="form-control"></textarea><br />
        <input type="submit" value="发表" />
    </form>
<% include footer %>