<% include header %>
    <form method="post">
        标题：<br />
        正文：<br />
        <textarea name="post" rows="4" cols="50"></textarea><br />
        <input type="submit" value="发表" />
    </form>
<% include footer %>