<%- include header.ejs %>
    
    <form method="POST" class="region">
      <label for="">用户名</label>
      <input type="text" name="username" placeholder="请输入用户名" class="form-control"><br>
      <label for="">密码</label>
      <input type="password" name="password" placeholder="请输入密码" class="form-control"><br>
      <label for="">确认密码</label>
      <input type="password" name="password-repeat" placeholder="请输入确认密码" class="form-control"><br>
  
      <div class="text-right">
        <button type="submit" class="btn btn-success">注册</button>
      </div>

    </form>  

<%- include footer.ejs %>